.body {
    margin: 0 auto;
}

@media screen and (min-width: 76rem) {
    .body {
        max-width: 64rem;
    }
}

@media screen and (min-width: 56rem) and (max-width: 76rem) {
    .body {
        margin: 0 5em;
    }
}

@media screen and (min-width: 46rem) and (max-width: 56rem) {
    .body {
        margin: 0 4em;
    }
}

@media screen and (min-width: 36rem) and (max-width: 46rem) {
    .body {
        margin: 0 3em;
    }
}